body{
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #000000;
}
.cards{
    display: flex;
    width: 100%;
    padding: 50px;
}
.cards .card{
    background-color: #0000ff;
    color: white;
    width: 300px;
    height: 350px;
    border-radius: 25px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;

    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
    -5px 0 10px rgba(0, 0, 0, 0.1);
}
.cards .card a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.cards .card a:hover{
    color: #adff2f;
}
.cards .card .header{
    flex: 1;
}
.cards .card:hover{
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px);
}
.cards .card .header .date{
    padding: 10px 0;
}
.cards .card .header .title{
    font-size: 28px;
}
.cards .card .footer .autor a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cards .card .footer img{
    width: 48px;
    border-radius: 50%;
}
.cards .card[class*="elemento"]{
    margin-left: -100px;
}
.elemento-1 a:hover{
    background-color: #adff2f;
    color: #0000ff;
    /* transition: 0.8s; */
}
.elemento-1:hover{
    background-color: #adff2f;
    color: #0000ff;
    /* transition: 0.8s; */
}
.elemento-2:hover{
    background-color: #ff9a2f;
    color: #151518db;
    /* transition: 0.8s; */
}
.elemento-3:hover{
    background-color: #c82cef;
    color: #f5f5f5;
    /* transition: 0.8s; */
}